
<h1>Submit post</h1>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
    </div>
      <% end %>

      <div class="form-group">
        <%= f.label :content %><br>
        <%= f.text_area :content %>
      </div>

      <div class="form-group">
        <%= f.label :Company %> (Type in either '1', '2' or '3')<br>
        <%= f.text_field :firm_id %>
      </div>

      <div class="form-group" >
        <%= f.submit "Submit", class: "btn btn-default"  %>
      </div>
<% end %>
